@import 'common';
@import 'style';

.header {
  position: relative;
  margin-top: 0;
  padding-top: 50px;
}

.header__logo {
  width: 302px;
  height: 60px;
}

.burger__manu__list-active {
  a {
    color: $accent;
  }
}

.section-two {
  margin-top: 0;
  padding-top: 60px;
}

.header__menu__services-active {
  border-bottom: 2px solid $accent;

  a {
    color: $accent;
  }
}

.burger__icon {
  top: 55px;
}

.footer__info {
  border-top: none;
  padding-top: 0;
}

@media screen and (min-width: 501px) and (max-width: 880px) {

  .header__container {
    flex-direction: column;
  }
  .header__logo {
    position: absolute;
    top: 40px;
    margin-bottom: -30px;
  }
  .header__menu {
    top: 30px;
    position: absolute;
    justify-content: flex-start;
    gap: 10px;
  }

  .header__menu__services {
    top: 160px;
    position: absolute;
    justify-content: flex-start;
    gap: 20px;
  }

  .section-two {
    padding-top: 100px;
  }
}

@media screen and (max-width: 500px) {
  .header__overlay {
    top: 0;
  }

  .header__logo {
    width: 170px;
    height: 57px;
  }

  .header__menu {
    top: -98px;
  }

  .section-two {
    padding-top: 0;
  }
}