@import 'common';

.wrapper {
  background: $main-gradient;
  padding-bottom: 60px !important;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.container {
  max-width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.header__logo {
  width: 130px;
  height: 60px;
}

.header {
  margin-top: 50px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 116px;
  z-index: 1;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.languages {
  display: flex;
  list-style: none;
}

.languages > li {
  border-radius: 8px;
  width: 33px;
  height: 25px;
  transition: 0.3s ease;
}

.header__menu {
  display: flex;
  gap: 6px;
}

.header__menu-item {
  display: flex;
  align-items: center;
  transition: fill 0.3s ease;
  margin-bottom: 16px;

  &:nth-child(2) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #B3B3BA;
  }

  &:nth-child(3) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
  }

  &:nth-child(4) {
    width: 24px;
    height: 24px;
  }
}

.header__menu-item:first-child::marker {
  content: "";
}

.languages__active {
  background-color: $accent;
}

.header__menu-item:not(:first-child)::before {
  content: "•";
  color: #E6E6F0;
  margin-right: 6px;
}

.header__menu-item__facebook {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.header__menu-item__facebook:hover {
  color: $accent;
}

.languages__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 25px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #FFFFFF;
  transition: 0.3s ease;
}

.languages li:hover {
  background-color: $accent;
}

.header__menu__services {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  gap: 15px;
}

.burger__icon {
  visibility: hidden;
  display: flex;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1002;

  svg {
    color: #FFFFFF;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.burger__manu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 16px);
  max-height: 90vh;
  overflow-y: auto;
  margin: auto 8px 0;
  padding: 12px;
  background: #FFFFFF;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  z-index: 1001;

  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;

  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.burger__overlay {
  position: fixed;
  inset: 0;
  background: rgba(50, 50, 100, 0.8);
  z-index: 1000;

  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.header__menu__services > li {
  height: 25px;
  transition: 0.3s ease;
}

.header__menu__services a {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  transition: 0.3s ease;
}

.header__menu__services > li:hover {
  border-bottom: 2px solid $accent;
}

.header__menu__services li:hover a {
  color: $accent;
}

.section_one {
  min-height: 100vh;
  padding-top: 116px;
  position: relative;
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-logo {
  position: absolute;
  top: 0;
  width: 100vh;
  height: 100%;
}

.title {
  position: absolute;
  color: #FFFFFF;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-down__svg {
  position: absolute;
  top: 90%;
  transition: color 0.3s;
}

.scroll-down {
  color: #FFFFFF;
  transition: color 0.3s;
}

.scroll-down__svg:hover .scroll-down {
  color: $accent;
}

.section-two {
  margin-top: 60px;
  position: relative;

  &::before, &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -70px;
    left: 0;
    right: 0;
    height: 10px;
    width: calc(100% - 40px);
    margin: 0 auto;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #CACADB;
  }

  &::after {
    bottom: -80px;
    width: calc(100% - 80px);
    background: #E7E7F2;
  }
}

.flex-container {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.section-two__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 14.5px 0;
  width: max-content;
  text-align: end;
  flex-basis: 50%;

  a {
    display: block;
    text-wrap: nowrap;
    transition: all 0.3s;
    padding: 15px 60px 15px 0;
    border-right: 4px solid #FFFFFF4D;
  }

  .ui-state-active a {
    border-color: $accent;
    background: $gradient-text-reversed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }
}

.ui.tabs.panel {
  flex-basis: 55%;
}

.section-two__list h1 {
  color: #B3B3BA;
  transition: 0.3s ease;
}

.section-two__list a:hover h1 {
  background: $gradient-text-reversed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.flex-container > div > h2 {
  color: #FFFFFF;
}

.flex-container > div > p {
  margin-top: 30px;
  color: #FFFFFF;
}

.services__link {
  margin-bottom: 60px;
}

.services__link h1 {
  background: $gradient-text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  width: fit-content;
}

.link_arrow {
  display: flex;
  align-items: center;
  transition: 0.3s ease;

  & svg {
    fill: none;
    flex-shrink: 0;
    transition: 0.3s ease;
  }
}

.link_arrow h5:hover {
  color: $accent;

  & svg {
    color: $accent;
  }
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.services__list-item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & svg {
    align-self: flex-start;
  }

  & h3 {
    padding-top: 15px;
    color: $blue;
    transition: 0.3s ease;
  }

  & p {
    color: #FFFFFF;
  }
}

.services__list-item a:hover h3 {
  color: $accent;
}

.section_three {
  margin-top: 80px !important;
}

.section_three__flex-container {
  border-radius: 12px;
  background-color: #F5F5FA;
  display: flex !important;
  gap: 30px;

  & img {
    width: 100%;
    height: auto;
    max-width: 400px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    object-fit: cover;
    object-position: center;
  }
}

.section-three__description {
  padding: 30px 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & h1 {
    background: $gradient-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
  }

  & h4 {
    color: #B3B3BA;
  }

  & p {
    color: #B3B3BA;
  }
}

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li button:before {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  color: $blue !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: $blue !important;
}

.section_four {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & h5 {
    color: $main;
    margin-bottom: 30px;
  }
}

.section_four__company__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.section_four__grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;

  &:nth-child(1) {
    background-color: #1C4280;

    & img {
      width: 217px;
      height: 48px;
    }
  }

  &:nth-child(2) {
    background-color: #143646;

    & img {
      width: 199px;
      height: 32px;
    }
  }

  &:nth-child(3) {
    background-color: #F48B30;

    & img {
      width: 179px;
      height: 44px;
    }
  }

  &:nth-child(4) {
    background-color: #9E4DC3;

    & img {
      width: 180px;
      height: 42px;
    }
  }

  &:nth-child(5) {
    background-color: #FD9339;

    & img {
      width: 174px;
      height: 44px;
    }
  }

  &:nth-child(6) {
    background-color: #E2E2E4;

    & img {
      width: 187px;
      height: 48px;
    }
  }

  &:nth-child(7) {
    background-color: #C71C36;

    & img {
      width: 138px;
      height: 61px;
    }
  }

  &:nth-child(8) {
    background-color: #DCF3F9;

    & img {
      width: 146px;
      height: 76px;
    }
  }

  &:nth-child(9) {
    background-color: #EAEAEA;

    & img {
      width: 182px;
      //height: 60px;
    }
  }

  &:nth-child(10) {
    background-color: #282240;

    & img {
      width: 181px;
      height: 38px;
    }
  }

  &:nth-child(11) {
    background-color: #1D4568;

    & img {
      width: 189px;
      height: 46px;
    }
  }

  &:nth-child(12) {
    background-color: #000000;

    & img {
      width: 152px;
      height: 95px;
    }
  }
}

.section_five {
  padding-top: 30px !important;
  background-color: #F5F5FA;
}

.section_five__title {
  margin-bottom: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  & h1 {
    background: $gradient-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: fit-content;
  }
}

.section_five__grid {
  gap: 30px;
}

.section_five__grid-item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  background-color: #FFFFFF;
  max-width: 555px;

  & img {
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
}

.section_five__grid-item__text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;

  & .section_five__grid-item__date {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    text-transform: uppercase;
    color: #B3B3BA;
    padding-bottom: 15px;
    border-bottom: 4px solid #E6E6F0;
  }

  & p {
    color: #000000;
  }
}

.footer {
  background-color: #F5F5FA;
}

.footer__container {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #E6E6F0;
  padding-top: 30px;
}

.footer__info__contact__address {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;
  margin-bottom: 21px;

  & li:nth-child(1) {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $main;
  }

  & a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    color: $blue;
  }
}

.footer__info__contact__address li:first-child::marker {
  content: "";
}

.footer__info__contact__address li:not(:first-child)::before {
  content: "•";
  color: #B3B3BA;
  margin-right: 6px;
}

.footer__info__contact__social {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 10px;

  & li {
    line-height: 0;
  }

  & li:nth-child(2) {
    & a {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $main;
    }
  }

  & li:nth-child(3) {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: $blue;
  }
}

.footer__info__contact__social li:first-child::marker {
  content: "";
}

.footer__info__contact__social li:not(:first-child)::before {
  content: "•";
  color: #B3B3BA;
  margin-right: 6px;
}

.footer__copyright p {
  line-height: 20px;
  font-weight: 400;
  color: #B3B3BA;
}

.footer__facebook {
  flex-shrink: 0;
  color: #24A3FF;
  transition: color 0.3s;
}

.footer__facebook:hover {
  color: $accent;
}

@media screen and (max-width: 670px) {
  .footer__info {
    flex-direction: column;
  }


  .footer__info__contact__address {
    flex-direction: column;
  }

  .footer__info__contact__address li:not(:first-child)::before {
    display: none;
  }

  .footer__info__contact__social {
    flex-direction: column;
  }

  .footer__info__contact__social li:not(:first-child)::before {
    display: none;
  }

  .footer__copyright {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }

  .header__logo {
    width: 100px;
    height: 150px;
    margin-bottom: -30px;
  }

  .header__menu {
    position: absolute;
    top: 0;
    justify-content: flex-start;
    gap: 10px;
  }

  .header__menu__services {
    position: absolute;
    justify-content: flex-start;
    gap: 20px;
  }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    overflow: hidden;
  }

  .section-two__list {
    flex-direction: row;
    text-align: start;
    flex-basis: auto;
    overflow: auto;
    width: 100%;

    a {
      padding: 0 15px 60px;
      border-right: none;
      border-bottom: 4px solid #FFFFFF4D;
    }
  }
  .section_three__flex-container {
    flex-direction: column;
    gap: 0;

    & img {
      width: 100%;
      height: auto;
      max-width: none;
      border-bottom-left-radius: 0;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }
  }

  .section-three__description {
    padding: 30px;

    & h1 {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0 30px;
  }

  .section_four__company__grid {
    border-radius: 12px;
    overflow: hidden;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: auto;
  }

  .main-logo {
  }

  .header__container {
    flex-direction: column;
    z-index: 2;
  }

  .header__overlay {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 45px;
    background: #F5F5FA33;
    z-index: 1;
  }

  .header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
    top: -103px;
    z-index: 2;
  }

  .header__menu-item:nth-child(2),
  .header__menu-item:nth-child(4) {
    display: none;
  }
  .header__menu-item:nth-child(3) {
    a {
      font-size: 16px;
      font-weight: 700;
      line-height: 20px;
    }
  }
  .header__menu-item:not(:first-child)::before {
    display: none;
  }

  .header__menu__services {
    display: none;
  }

  .header__logo {
    width: 100px;
  }

  .header__menu__services {
    position: absolute;
    justify-content: flex-start;
    gap: 20px;
  }

  .burger_exite {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: none;
  }

  .burger__manu__list {
    li {
      height: 43px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F5F5FA;
      border-radius: 12px;
      margin-top: 12px;
    }

    li:nth-child(1) {
      margin-top: 61px;
    }

    a {
      color: $blue;
    }
  }

  #burger:checked ~ .burger__overlay {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  #burger:checked ~ .burger__manu {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .burger__icon {
    visibility: visible;
  }

  #burger:checked + .burger__icon svg {
    background-color: #E6E6F0;
    color: $main;
  }

  .title {
    font-size: 38px;
    line-height: 46px;
    width: 315px;
  }

  .section-two__list {
    h1 {
      font-size: 30px;
      line-height: 37px;
    }
  }

  .section-two__list {

    a {
      padding: 0 15px 30px;
    }
  }

  h1 {
    font-size: 30px;
    line-height: 37px;
  }

  .flex-container {
    h2 {
      font-size: 20px;
      line-height: 28px;
    }

    p {
      font-size: 19px;
      line-height: 30px;
    }
  }

  .services__link {
    margin-bottom: 30px;
  }

  .services__list {
    gap: 30px;
  }

  .section_three__flex-container img {
    height: 500px;
  }

  .section_four__company__grid {
    width: 100vw !important;
    grid-template-columns: 1fr;

    .section_four__grid-item:nth-child(7),
    .section_four__grid-item:nth-child(8),
    .section_four__grid-item:nth-child(9),
    .section_four__grid-item:nth-child(10),
    .section_four__grid-item:nth-child(11),
    .section_four__grid-item:nth-child(12) {
      display: none;
    }
  }

  .link {
    font-weight: 700;
  }
}

@media screen and (min-width: 500px) {
  .section_four__grid-item {
    width: 256px;
  }
}

@media screen and (max-width: 767px) {
  .services__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .section_five__grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .section_five__grid-item {
    grid-column: auto;
    max-width: 100%;
    justify-self: stretch;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {

  .section_four__company__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .services__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .section_five__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section_five__grid-item:nth-child(3) {
    grid-column: 1 / -1;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .section_four__company__grid {
    margin: 0 -60px;
    max-width: 100vw !important;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 60px;
    max-width: calc(100vw + 60px + 60px);
  }
  .section_five__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .section_five__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {

  .section_four__grid-item {
    width: 360px;
  }
}

@media screen and (min-width: 1510px) {
  .section_four__grid-item {
    width: calc(360px + 1vw);
  }
}

@media screen and (min-width: 1610px) {
  .section_four__grid-item {
    width: calc(360px + 2vw);
  }
}

@media screen and (min-width: 1710px) {
  .section_four__grid-item {
    width: calc(360px + 3vw);
  }
}

@media screen and (min-width: 1810px) {
  .section_four__grid-item {
    width: calc(360px + 4vw);
  }
}

@media screen and (min-width: 1920px) {
  .container {
    padding: 0 160px;
    max-width: calc(100vw + 160px + 160px);
  }

  .section_four__grid-item {
    width: calc(360px + 3vw);
  }

  .section_five {
    margin-top: 60px;
  }
}

@media screen and (min-width: 2560px) {
  .section_four__company__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  .section_four__grid-item {
    width: calc(360px + 2vw);
  }
}
